﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewBag.Title</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="~/Content/css/material-dashboard.css?v=1.2.0" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/Content/css/demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
</head>

    <body>
        <div class="wrapper">
            <div class="sidebar" data-color="green" data-image="../assets/img/sidebar-1.jpg">
                <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

            Tip 2: you can also add an image using data-image tag
        -->

                <div class="logo">
                    <a href="/" class="simple-text">
                        WeedCropTracker
                    </a>
                </div>

                <div class="sidebar-wrapper">
                    <ul class="nav">
                        <li>

                            @Html.ActionLink("New Plant", "NewPlant", new { @class = "" })

                        </li>
                        <li class="active">
                            @Html.ActionLink("Plant List", "Index", new { @class = "" })

                        </li>
                       
                    </ul>
                </div>
            </div>


            <div class="container body-content">
                @RenderBody()
                <hr />
            </div>

            <script src="~/Content/js/jquery-1.10.2.min.js"></script>
            <script src="~/Content/js/bootstrap.min.js"></script>
            <script src="~/Content/js/jquery-3.2.1.min.js" type="text/javascript"></script>
            <script src="~/Content/js/bootstrap.min.js" type="text/javascript"></script>
            <script src="~/Content/js/material.min.js" type="text/javascript"></script>
            <!--  Dynamic Elements plugin -->
            <script src="~/Content/js/arrive.min.js"></script>
            <!--  PerfectScrollbar Library -->
            <script src="~/Content/js/perfect-scrollbar.jquery.min.js"></script>

            <!-- Material Dashboard javascript methods -->
            <script src="~/Content/js/material-dashboard.js?v=1.2.0"></script>

</body>
</html>