﻿@model IEnumerable<Plants.Models.Plant>
<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="row">
                <div class="col-md-14">
                    <div class="card">
                        <div class="card-header" data-background-color="green">
                            <h4 class="title">Plants List</h4>

                            <p class="category">Here are your registered plants</p>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                <th>Seed Name</th>
                                <th>Bank Name</th>
                                <th>Seed Type</th>
                                <th>Seed Specie</th>
                                <th>Autoflowering</th>
                                <th></th>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td hidden>@Html.Display(item._links.self.href.Split('/')[4])</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.seedname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.bank)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.seedtype)
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.specie)</td>
                                        <td>@Html.DisplayFor(modelItem => item.autoflower)</td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item._links.self.href.Split('/')[4] },new { @class = "btn btn-warning"}) |
                                            @Html.ActionLink("Details", "Details", new { id = item._links.self.href.Split('/')[4] }, new { @class = "btn btn-info" }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item._links.self.href.Split('/')[4] }, new { @class = "btn btn-danger" })
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


