﻿<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="row">
                <div class="col-md-14">
                    <div class="card">
                        <div class="card-header" data-background-color="green">
                            <h4 class="title">New Plant</h4>
                            <p class="category">Add a new plant</p>
                        </div>
                        <div class="card-content">
                            <form action="/Plant/CreateNewPlant" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Seed Name</label>
                                            <input type="text" name="seedname" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Bank Name</label>
                                            <input type="text" name="bankname" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group label-floating">
                                            <label>Seed Type</label>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="regular" name="optionsRadios1" required>
                                                    Regular
                                                </label>
                                                <label>
                                                    <input type="radio" value="feminized" name="optionsRadios1" required>
                                                    Feminized
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group label-floating">
                                            <label>Seed Specie</label>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="sativa" name="optionsRadios2" required>
                                                    Sativa
                                                </label>
                                                <label>
                                                    <input type="radio" value="indica" name="optionsRadios2" required>
                                                    Indica
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group label-floating">
                                            <label>Autoflowering</label>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="True" name="optionsRadios3" required>
                                                    yes
                                                </label>
                                                <label>
                                                    <input type="radio" value="False" name="optionsRadios3" required>
                                                    no
                                                </label>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <button type="submit" class="btn btn-primary pull-right">Add Plant</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>